extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content 
    main
        if errorMessage 
            div.user-message.user-message--error #{errorMessage}
        form.signup-form(action="/new-password", method="POST")
            .form-control
                label(for="newPassword") #{newPasswordNames.form.newPassword}
                input(class=validationErrors.find(e => e.param === 'newPassword') ? 'invalid' : '', type="password", name="newPassword", value="")#newPassword
            .form-control
                label(for="confirmNewPassword") #{newPasswordNames.form.confirmNewPassword}
                input(class=validationErrors.find(e => e.param === 'confirmNewPassword') ? 'invalid' : '', type="password", name="confirmNewPassword", value="")#confirmNewPassword
            input(type="hidden", name="_csrf", value=csrfToken)
            input(type="hidden", name="token", value=token)
            input(type="hidden", name="userId", value=userId)
            button.btn(type="submit") #{newPasswordNames.form.changePass}
block scripts 