if indexNames
    h1 #{indexNames.text.firstH1.title}
        p.text #{indexNames.text.firstH1.firstLine}
        p.text #{indexNames.text.firstH1.secondLine}
    h1 #{indexNames.text.secondH1.title}
        p.text #{indexNames.text.secondH1.firstLine}
        p.text #{indexNames.text.secondH1.secondLine}
    h1 #{indexNames.text.thirdH1.title}
        ul.ul-text #{indexNames.text.thirdH1.ul.title}
            li.li-text #{indexNames.text.thirdH1.ul.li.first}
            li.li-text #{indexNames.text.thirdH1.ul.li.second}
            li.li-text #{indexNames.text.thirdH1.ul.li.third}
            li.li-text #{indexNames.text.thirdH1.ul.li.fourth}
    h1 #{indexNames.text.fourthH1.title}
        p.text #{indexNames.text.fourthH1.firstLine}
        p.text #{indexNames.text.fourthH1.secondLine}
        p.text #{indexNames.text.fourthH1.thirdLine}
if menuNames
    h1 #{menuNames.text.firstH1.title}
        p.text #{menuNames.text.firstH1.firstLine}
        p.text #{menuNames.text.firstH1.secondLine}
    h1 #{menuNames.text.secondH1.title}
        p.text #{menuNames.text.secondH1.firstLine}
        p.text #{menuNames.text.secondH1.secondLine}
    h1 #{menuNames.text.thirdH1.title}
        ul.ul-text #{menuNames.text.thirdH1.ul.title}
            li.li-text #{menuNames.text.thirdH1.ul.li.first}
            li.li-text #{menuNames.text.thirdH1.ul.li.second}
            li.li-text #{menuNames.text.thirdH1.ul.li.third}
            li.li-text #{menuNames.text.thirdH1.ul.li.fourth}
    h1 #{menuNames.text.fourthH1.title}
        p.text #{menuNames.text.fourthH1.firstLine}
        p.text #{menuNames.text.fourthH1.secondLine}
        p.text #{menuNames.text.fourthH1.thirdLine}