doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles

    body
        div.backdrop
        header.main-header
            button(id="side-menu-toggle") #{navNames.both.names.nav}
            nav.main-header__nav
                ul.main-header__item-list
                    if !isAuthenticated
                        li.main-header__item
                            a(href="/", class=(path === '/') ? 'active' : '') #{navNames.both.names.index}
                    else 
                        li.main-header__item
                            a(href="/menu", class=(path === '/menu') ? 'active' : '') #{navNames.auth.names.menu}
                        li.main-header__item
                            a(href="/generator", class=(path === '/generator') ? 'active' : '') #{navNames.auth.names.generator}
                        li.main-header__item
                            //TODO - Cambiar el action por el de saved pass.
                            a(href="", class=(path === '') ? 'active' : '') #{navNames.auth.names.saved}        
                ul.main-header__item-list
                    if !isAuthenticated 
                        li.main-header__item
                            a(href="/login", class=(path === '/login') ? 'active' : '') #{navNames.notAuth.names.login} 
                        li.main-header__item
                            a(href="/signup", class=(path === '/signup') ? 'active' : '') #{navNames.notAuth.names.signup} 
                    else
                        li.main-header__item
                            a(href="/account", class=(path === '/account') ? 'active' : '') #{navNames.auth.names.account}                         
                        li.main-header__item 
                            form(action="/logout", method="POST") 
                                input(type="hidden", name="_csrf", value=csrfToken) 
                                button(type="submit") #{navNames.auth.names.logout} 
            nav.mobile-nav
                ul.mobile-nav__item-list
                    if !isAuthenticated
                        li.mobile-nav__item
                            a(href="/", class=(path === '/') ? 'active' : '') #{navNames.both.names.index}
                    else
                        li.mobile-nav__item
                            a(href="/menu", class=(path === '/menu') ? 'active' : '') #{navNames.auth.names.menu}
                        li.mobile-nav__item
                            a(href="/generator", class=(path === '/generator') ? 'active' : '') #{navNames.auth.names.generator}
                        li.mobile-nav__item
                            //TODO - Cambiar el action por el de saved pass.
                            a(href="", class=(path === '') ? 'active' : '') #{navNames.auth.names.saved}        
                ul.mobile-nav__item-list
                    if !isAuthenticated 
                        li.mobile-nav__item
                            a(href="/login", class=(path === '/login') ? 'active' : '') #{navNames.notAuth.names.login} 
                        li.mobile-nav__item
                            a(href="/signup", class=(path === '/signup') ? 'active' : '') #{navNames.notAuth.names.signup} 
                    else
                        li.mobile-nav__item
                            a(href="/account", class=(path === '/account') ? 'active' : '') #{navNames.auth.names.account}                         
                        li.mobile-nav__item 
                            form(action="/logout", method="POST") 
                                input(type="hidden", name="_csrf", value=csrfToken) 
                                button(type="submit") #{navNames.auth.names.logout}
        block content
        script(src="/js/main.js")
        block scripts