extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/generator.css")

block content 
    main
        include ../layouts/message-popup.pug 
        div.centered
            h1 #{recreatePasswordNames.text}
            form.generator-form(action="/storage/recreate", method="POST")
                div.generator-form__wrapper
                    div.generator-form-input__wrapper
                        label.generator-form-range__label(for="namePass") #{recreatePasswordNames.form.namePass}
                            input.generator-form-textarea(type="text", name="namePass", disabled="true", value=value=inputs.namePass)#namePass
                    div.generator-form-input__wrapper
                        label.generator-form-range__label(for="length") #{recreatePasswordNames.form.length}
                        div.generator-form-range__inner 
                            input.generator-form-range__number(type="number", min="8", max="32", step="1", name="length", value=inputs.length, disabled="true")#lengthNumber
                            input.generator-form-range__slider(type="range", min="8", max="32", name="length", value=inputs.length, disabled="true")#lengthSlider
                    div.generator-form-input__wrapper
                        input(type="hidden", name="difficultyValue", value=inputs.difficulty.checked)#difficultyValue
                        div.generator-form-wrapper-radio
                            input.generator-form-radio(type="radio", name="difficulty", value=inputs.difficulty.difficultyEasy, disabled="true")#difficultyEasy
                            label.generator-form-radio__label(for="difficultyEasy") #{recreatePasswordNames.form.difficulty.difficultyEasy}
                        div.generator-form-wrapper-radio
                            input.generator-form-radio(type="radio", name="difficulty", value=inputs.difficulty.difficultyMedium, disabled="true")#difficultyMedium 
                            label.generator-form-radio__label(for="difficultyMedium") #{recreatePasswordNames.form.difficulty.difficultyMedium} 
                        div.generator-form-wrapper-radio
                            input.generator-form-radio(type="radio", name="difficulty", value=inputs.difficulty.difficultyHard, disabled="true")#difficultyHard
                            label.generator-form-radio__label(for="difficultyHard") #{recreatePasswordNames.form.difficulty.difficultyHard}
                div.generator-form__wrapper
                    div.generator-form-input__wrapper-names
                        label.generator-form-range__label(for="data1Name") #{recreatePasswordNames.form.data1.data1Name}
                            input.generator-form-textarea(type="text", name="data1Name", disabled="true", value=inputs.hints[0])#data1Name
                        label.generator-form-range__label(for="data1Value") #{recreatePasswordNames.form.data1.data1Value}
                            input(class=validationErrors.find(e => e.param === 'data1Value') ? 'generator-form-textarea invalid' : 'generator-form-textarea', type="text", name="data1Value", value=inputs.hintsValues[0])#data1Value
                    div.generator-form-input__wrapper-names
                        label.generator-form-range__label(for="data2Name") #{recreatePasswordNames.form.data2.data2Name}
                            input.generator-form-textarea(type="text", name="data2Name", disabled="true", value=inputs.hints[1])#data2Name
                        label.generator-form-range__label(for="data2Value") #{recreatePasswordNames.form.data2.data2Value}
                            input(class=validationErrors.find(e => e.param === 'data2Value') ? 'generator-form-textarea invalid' : 'generator-form-textarea', type="text", name="data2Value", value=inputs.hintsValues[1])#data2Value
                    div.generator-form-input__wrapper-names
                        label.generator-form-range__label(for="data3Name") #{recreatePasswordNames.form.data3.data3Name} 
                            input.generator-form-textarea(type="text", name="data3Name", disabled="true", value=inputs.hints[2])#data3Name
                        label.generator-form-range__label(for="data3Value") #{recreatePasswordNames.form.data3.data3Value}
                            input(class=validationErrors.find(e => e.param === 'data3Value') ? 'generator-form-textarea invalid' : 'generator-form-textarea', type="text", name="data3Value", value=inputs.hintsValues[2])#data3Value
                input(type="hidden", name="_csrf", value=csrfToken)
                input(type="hidden", name="passwordId", value=passwordId)
                div.centered 
                    a.btn.generate-button(href="/storage")#back #{recreatePasswordNames.form.back}
                    button.btn.generate-button(type="submit")#recreator #{recreatePasswordNames.form.recreator}
block scripts 
    script(src="/js/slider.js")
    script(src="/js/recreate.js")