extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/generator.css")

block content 
    main
        include ../layouts/message-popup.pug  
        div.centered 
            div.show-password-centered
                h1 #{showPasswordNames.textPrePassword}
                div.show-password-wrap 
                    div.show-password-wrap-password
                        h1.show-password-password#password #{password}
                button.btn.btn-copy(type="button")#copy #{showPasswordNames.copy.button}
                    div.popup
                        span.popuptext#myPopup #{showPasswordNames.copy.text}
                h2 #{showPasswordNames.text.firstLine}
                h2 #{showPasswordNames.text.secondLine}
                form(action="/generator", method="GET") 
                    button.btn.index-button(type="submit") #{showPasswordNames.form.generate} 
                form(action="/storage", method="GET") 
                    button.btn.index-button(type="submit") #{showPasswordNames.form.saved}
block scripts 
    script(src="/js/copyPassword.js")